body {
  background: url(https://raw.githubusercontent.com/dunwu/images/dev/images/others/theme_yellow_flower.jpg) no-repeat center 0 #FFF4E6;
}

// 文章栏整体样式定制
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 8px #888888;
  -moz-box-shadow: 0 0 8px #888888;
}

.posts-expand .post-eof {
  display: none;
}

.brand {
  background: #F1AAA6;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 4px #888888;
}

.headband {
  background-color: #F1AAA6;
}

.btn {
  background-color: #F1AAA6;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 4px #888888;
}

.sidebar-toggle {
  background-color: #5F899F;
}

.page-post-detail .sidebar-toggle-line {
  background: #FFFFFF;
}

.back-to-top {
  background-color: #5F899F;
}

svg, .github-corner {
  fill: #F1AAA6 !important;
}

code {
  color: #F14E32;
  border-radius: 3px;
  -webkit-box-shadow: 0.5px 0.5px 1px #888888;
  -moz-box-shadow: 0.5px 0.5px 1px #888888;
}

.highlight {
  border-radius: 6px;
  -webkit-box-shadow: 0.5px 0.5px 1px #888888;
  -moz-box-shadow: 0.5px 0.5px 1px #888888;
}

.posts-expand .post-body img {
  padding: 0;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 8px #888888;
  -moz-box-shadow: 2px 2px 2px #888888;
}

a {
  color: #399AB2;
}

a:hover {
  color: red;
}

h1, h2, h3, h4, h5, h6 {
  color: #37839D;
  text-shadow: 0 -1px 5px rgba(0, 0, 0, .4)
}

.posts-expand .post-title-link {
  color: #37839D;
  text-shadow: 0 -1px 5px rgba(0, 0, 0, .4)
}

blockquote {
  background-color: #FFF2C9;
}

table {
  -webkit-box-shadow: 0 0 4px #888888;
  -moz-box-shadow: 0 0 4px #888888;
}

th {
  background-color: #61C0C4;
  color: white;
}
