//
// Variables
// =================================================

// Colors
// colors for use across theme.
// --------------------------------------------------
$yellow-bright = #FFF4E6

$btn-custom-radius = 4px

$body-bg-color = $yellow-bright
